*{
    font-family: 'Roboto Mono', monospace; 
    color: #1e1e1e;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    padding: none;
    margin: none; 
    box-sizing: border-box; 
}

p{
    visibility: visible;
/*    opacity: 0.5;*/
    display: block;
    width: 400px;
    height: 400px;
    padding: 40px;
}

